#gitignore is a list of files and folders that we do not upload to our repo
.DS_Store

#Our node_modules folder is installed when you run the install script so we don't need to save it in our repo
node_modules

rootkey.zsh